.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.article-detail .details {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 5px solid #dddeef;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}